# Ignore all node_modules folders
**/node_modules/

# Ignore .env files
**/.env
**/.env.local

# Ignore Python virtual environments
**/.venv/

# Optional: Ignore Python cache files
**/__pycache__/

.vscode/